* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: black;
}
.main {
  max-width: 144rem;
  height: 100vh;
  background-color: white;
  margin: 0 28rem;
  position: relative;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  background-color: hsl(225, 100%, 94%);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}
.component {
  width: 32%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2.1rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}
.component__img {
  width: 100%;
  height: 32%;
  border-bottom: 1px solid black;
}

.component__order {
  padding-left: 2rem;
  padding-right: 2rem;
}

.heading {
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  padding: 2.5rem;
  padding-bottom: 1.5rem;
}
.description {
  font-size: 1rem;
  padding: 0rem 2rem 2rem 2rem;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  color: hsl(224, 23%, 55%);
}
